@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: "Montserrat", sans-serif;
  
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
.main{
  width: 1440px;
  max-width: 100%;
  height: 2000px;
  max-height: 100%;
}
.benefits{
  background-color: #A784C2;
  height: 100%;
  width: 100%;
  max-width: 1440px;
  max-height: 526px;
  box-sizing: border-box;
}
.benefits__blocks{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex: 1 1 20%;
  text-align: center;
  margin-top: 50px;
}
.titles{
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.02em;
  color: #252b42;
  text-align: center;
  padding-top: 20px;
}
.subtitle{
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.01em;
  text-align: center;
  width: 511px;
  color: #737373;
}
.block {
  width: 230px;
  height: 209px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px, 30px;
}

.block2 {
  width: 230px;
  height: 209px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 30px, 40px;
}

.block3 {
  width: 230px;
  height: 209px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 30px, 40px;
}

.block4 {
  width: 230px;
  height: 209px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 30px, 40px;
}


.container {
  max-width: 1050px;
  margin: auto;
}
.description {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.01em;
  text-align: center;
  width: 511px;
  color: #737373;
  margin: auto;
  padding-top: 10px;
}
.title1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.02em;
  color: #252b42;
  text-align: center;
  padding-top: 50px;
}



.advices{
  width: 100%;
  max-width: 1440px;
  background-color: #C7BEBE;
  justify-content: center;
  align-items: center;
  display: flex;
}
.second_container{
  width: 100%;
  max-width: 1050px;
  background-color: #C7BEBE;
  text-align: center;
  padding: 2rem;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 100px;
}
.title2{
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.02em;
  color: #252b42;
  text-align: center;
}
.advice_cards{
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  flex-wrap: wrap;
}

.advice_cards img{
  width: 100%;
  height: auto;
}
.description2 {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
  width: 500px;
  height: 40px;
  margin: auto;
  padding-top: 10px;
}
.card_1 {
  width: 230px;
  height: 341px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card_1 h2{
  width: 130px;
  height: 48px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
  text-align: left;
  margin-top: 30px;
  margin-left: 30px;
}
.card_1 h6{
  width: 160px;
  height: 80px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: left;
  margin-top: 15px;
  margin-left: 30px;
  margin-bottom: 30px;
}
.card_2 {
  width: 230px;
  height: 341px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card_2 h2{
  width: 125px;
  height: 48px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
  text-align: left;
  margin-top: 30px;
  margin-left: 30px;
}
.card_2 h6{
  width: 177px;
  height: 60px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: left;
  margin-top: 15px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.card_3 {
  width: 230px;
  height: 341px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card_3 h2{
  width: 125px;
  height: 48px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
  text-align: left;
  margin-top: 10px;
  margin-left: 30px;
}
.card_3 h6{
  width: 164px;
  height: 60px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: left;
  margin-top: 15px;
  margin-left: 30px;
  margin-bottom: 30px;
}


.card_4 {
  width: 230px;
  height: 320px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card_4 h2{
  width: 103px;
  height: 48px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
  text-align: left;
  margin-top: 30px;
  margin-left: 30px;
}
.card_4 h6{
  width: 179px;
  height: 60px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: left;
  margin-top: 15px;
  margin-left: 30px;
  margin-bottom: 30px;
}


.end{
  background-color: #fff;
  height: 911px;
  width: 100%;
  max-width: 1440px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 70px;
}
.third_container{
  width: 1050px;
  max-width: 100%;
  
}
.content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 150px;
  flex-wrap: wrap;
}
.text_block{
  width: 333px;
  height: 438px;
}
.block_title h2{
  width: 324px;
  height: 114px;
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.02em;
  color: #252b42;
  text-align: left;
  margin-top: 30px;
}
.block_title h6{
  width: 330px;
  height: 60px;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.01em;
  text-align: left;
  color: #737373;
  margin-top: 10px;
}
.punkt_1{
  width: 340px;
  height: 77px;
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}
.punkt_1 h2{
  width: 277px;
  height: 48px;
  font-weight: 700;
  font-size: 16px;
  line-height: 142%;
  letter-spacing: 0.02em;
  color: #252b42;
  text-align: left;
}
.punkt_1 h6{
  width: 222px;
  height: 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.01em;
  text-align: left;
  color: #737373;
  margin-top: 50px;
  position: absolute;
}
.punkt_1 img{
  width: 32px;
  height: 32px;
}

.punkt_2{
  width: 340px;
  height: 77px;
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}
.punkt_2 h2{
  width: 277px;
  height: 48px;
  font-weight: 700;
  font-size: 16px;
  line-height: 142%;
  letter-spacing: 0.02em;
  color: #252b42;
  text-align: left;
}
.punkt_2 h6{
  width: 222px;
  height: 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.01em;
  text-align: left;
  color: #737373;
  margin-top: 50px;

  position: absolute;
}
.punkt_2 img{
  width: 32px;
  height: 32px;
}
.description3 {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.01em;
  text-align: center;
  width: 511px;
  color: #737373;
  margin: auto;
  margin-top: 10px;
  margin-left: 280px;
  position: absolute;
}
.title3 {
  width: 481px;
  height: 114px;
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.02em;
  color: #252b42;
  text-align: center;
  margin-top: 50px;
  margin-left: 290px;
  
}
.video_block img{
  width: 600px;
  height: auto;
}
@media (max-width: 768px) {
  .benefits__blocks, .advice_cards {
    width: calc(50% - 30px);
    margin: auto;
  }
  .content{
    flex-direction: column;
    align-items: center;
    
    
  }
  .video_block img, .text_block{
    width: 100%;
    max-width: 600px;
  }
}
@media (max-width: 414px) {

  body{
    width: 414px;
    max-width: 100%;
    height: 4780px;
    max-height: 100%;
    
  }
  .main{
    width: 414px;
    max-width: 100%;
    height: 4780px;
    max-height: 100%;
    overflow-x: hidden;
  }
  .benefits{
    padding: 20px 10px;
    width: 100%;
    max-height: 1421px;
    justify-content: center;
    align-items: center;
  }
  .benefits__blocks{
    width: 100%; 
    height: 974px;
    margin-top: 50px;
    justify-content: center;
    align-items: flex-end;
  }
  .advices{
    width: 100%;
    height: 1898px;
    justify-content: center;
    align-items: center;
  }
  
  .advice_cards{
    width: 100%;
    height: 1490px;
    justify-content: center;
    align-items: center;
  }
  .end{
    width: 100%;
    height: 1439px;
    justify-content: center;
    align-items: center;
    margin: 0%;
  }
  .content{
    width: 100%;
    height: 920px;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 150px;
  }

  
  .container, .second_container {
      width: 100%;
      margin: 10px 0;
  }

  .video_block img{
      width: 100%;
      max-width: 100%;
  }
  .text_block{
    width: 333px;
    height: 438px;
    margin-left: auto;
    margin-right: auto;
  }
  .title1{
    width: 260px;
    height: 114px;
    max-width: 100%;
    max-height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  .description{
    width: 225px;
    height: 80px;
    max-width: 100%;
    max-height: 100%;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
  }


  .title2{
    width: 260px;
    height: 114px;
    max-width: 100%;
    max-height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  .description2{
    width: 225px;
    height: 80px;
    max-width: 100%;
    max-height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .title3{
    width: 308px;
    height: 171px;
    max-width: 100%;
    max-height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  .description3{
    width: 225px;
    height: 80px;
    max-width: 100%;
    max-height: 100%;
    flex-wrap: wrap;
    margin-top: 15%;
    margin-left: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
  }
}
/* @media (max-width: 414px) {
  .title {
    height: 114px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    text-align: center;
    margin: 1rem 0;
  }
  .benefits__blocks {
    height: 947px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
  }
  p {
    width: 100px;
    max-width: 100%;
    height: 80px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
  }
} */




/*# sourceMappingURL=base.css.map */







